<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Stocks | Home</title>
</head>
<body onload="slideShow()">
  <nav class="navbar navbar-expand-sm py-3 nav sticky-top">
    <div class="container">
      <a href="/" class="navbar-brand"><img src="../images/logo.png" alt=""></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-5">
          <li class="nav-item">
            <div class="dropdown">
              <a href="/login" class="nav-link drop-link text-light">Invest</a>
              <div class="dropdown-content">
                <a href="/login">Stocks</a>
                <br>
                <a href="/login">IPOs</a>
                <br>
                <a href="/login">Mutuals Funds</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a href="/commodity" class="nav-link text-light">Trade</a>
              <div class="dropdown-content">
                <a href="/commodity">Futures & Options</a>
                <br>
                <a href="/commodity">Commodities</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link text-light">About us</a>
          </li>
          <li class="nav-item">
            <a href="/get-pricing-info" class="nav-link text-light">Pricing</a>
          </li>
        </ul>
        <form class="form-inline search">
          <a href="#" class="search-icon"><i class="fas fa-search"></i></a>
            
            <input id="searchbar" onkeyup="search_stock()" type="text" name="search" class="form-control mr-2" placeholder="Search any stock">


            <ol style="list-style: none; padding: 0; margin: 0; line-height: 50px; background: rgb(207, 199, 199); border-radius: 8px; margin-top: 5px;" id="search-list">
              <a href="#" style=" color: black;"><li class="s-price" style="display: none;">AXIS BANK</li></a>
              <a href="#" style=" color: black;"><li class="s-price" style="display: none;">ICICI BANK</li></a>
              <a href="#" style=" color: black;"><li class="s-price" style="display: none;">TATA STEEL LIMITED</li></a>
              <a href="#" style=" color: black;"><li class="s-price" style="display: none;">ADANI ENTERPRISES LIMITED</li></a>
              <a href="#" style=" color: black;"><li class="s-price" style="display: none;">MAHINDRA & MAHINDRA</li></a>
              <a href="#" style=" color: black;"><li class="s-price" style="display: none;">INDIAN OIL</li></a>
              <a href="#" style=" color: black;"><li class="s-price" style="display: none;">RELIANCE INDUSTRIES LTD</li></a>
            </ol>
        </form>
        <a href="create-your-account" class="p-2 acc">Create Account</a>
        <a href="/login" class="px-3 py-2 log">Sign In</a>
      </div>
    </div>
  </nav>

  <div class="header row">
    <div class="col p-5 left-header">
      <h1 class="text-white intro">Powerful Made</h1>
      <h1 class="mb-4 text-light intro">Simple</h1>
      <span class="text-white"><a href="/commodity" class="text-white">Futures & Options</a> | <a href="/login" class="text-white">Stocks</a> | <a href="/login" class="text-white">Mutuals Funds</a> | <a href="/login" class="text-white">IPOs</a></span>
      <form class="num form-group mt-5">
        <span class="ind-code">+91</span>
        <input type="tel" placeholder="Enter your number" class="form-control" id="phone">
        <input type="submit" value="Go">
        <div class="invalid-feedback">
          Please enter a valid phone number
        </div>
      </form>
      <div class="d-flex">
        <div class="acc-promo p-3">
         <span>&#8377;0</span>
         <br>
         Account Maintenance
         <br>
         <span style="font-size: 12px; color: rgba(255, 255, 255, 0.8);">To maintain your Demat Account*</span>
        </div>
        <div class="brokerage-promo p-3">
          &#8377;20
          <br>
          Brokerage*
          <br>
          <span style="font-size: 12px; color: rgba(255, 255, 255, 0.8);">Equity, F&O, commodity and currency orders</span>
        </div>
      </div>
    </div>
    <div class="col right-header">
      <img src="../images/dark-slide-1.png" width="605px" id="slider">
    </div>
  </div>

  <div class="asset-classes">
    <h6 style="color: orangered;" class="mb-3 text-center">ASSET CLASSES</h6>
      <h2 style="font-weight: 600; font-size: 40x;" class="mb-5 text-center">Ways to grow your wealth</h2>
      <div class="d-flex text-center" style="margin-left: 80px;">
        <div class="c-1 mx-5">
          <h4 style="color: blueviolet;" id="stock">Stocks</h4>
        </div>
        <div class="c-2 mx-5">
          <h4 style="color: blueviolet;" id="ipo">IPOs</h4>
        </div>
        <div class="c-3 mx-5">
          <h4 style="color: blueviolet;" id="mutuals">Mutuals Funds</h4>
        </div>
        <div class="c-4 mx-5">
          <h4 style="color: blueviolet;" id="fno">Futures & Options</h4>
        </div>
      </div>
      <hr style="border-top: 2px solid black;">
      <div id="stock-info">
        <div class="stocks row mt-5">
          <div class="col">
            <img src="../images/grow-stock.png">
          </div>
          <div class="col">
            <h2 style="color: blueviolet;">Stocks</h2>
            <ul class="text-left">
              <li>Discover stocks with smart lists and smart filters</li>
              <li>Access key company information</li>
              <li>Buy and sell stocks in a single click</li>
            </ul>
            <a href="/login" class="btn border text-white px-4 py-2" style="border-radius: 20px; background: blueviolet">Start Investing</a>
          </div>
        </div>
      </div>
      <div id="ipo-info" style="display: none">
        <div class="ipos row mt-5">
          <div class="col">
            <img src="../images/grow-IPOs.png" >
          </div>
          <div class="col">
            <h2 style="color: blueviolet;">IPOs</h2>
            <ul class="text-left">
              <li>24/7 IPO applications</li>
              <li>Apply and pre-apply via WhatsApp</li>
              <li>Zero commission investing</li>
            </ul>
            <a href="/login" class="btn border text-white px-4 py-2" style="border-radius: 20px; background: blueviolet">Start Investing</a>
          </div>
        </div>
      </div>
      <div id="mutuals-info" style="display: none">
        <div class="mfs row mt-5">
          <div class="col">
            <img src="../images/grow-mutual-fund.png" alt="">
          </div>
          <div class="col">
            <h2 style="color: blueviolet;">Mutual Funds</h2>
            <ul class="text-left">
              <li>Zero commission investing
              </li>
              <li>SIP investments starting at ₹100/month
              </li>
              <li>Discover tax-saving funds easily
              </li>
            </ul>
            <a href="/login" class="btn border text-white px-4 py-2" style="border-radius: 20px; background: blueviolet">Start Investing</a>
          </div>
        </div>
      </div>
      <div id="fno-info" style="display: none">
        <div class="futures row mt-5">
          <div class="col">
            <img src="../images/grow-future.png" alt="">
          </div>
          <div class="col">
            <h2 style="color: blueviolet;">Futures & Options</h2>
            <ul class="text-left">
              <li>Pay just up to ₹20* per order</li>
              <li>Switch between Trading view & Charts IQ</li>
              <li>Place GTT orders till contract expiry
              </li>
            </ul>
            <a href="/login" class="btn border text-white px-4 py-2" style="border-radius: 20px; background: blueviolet">Start Investing</a>
          </div>
        </div>
      </div>
  </div>

  <div class="benefits">
    <h6 style="color: orangered;" class="mb-3 text-center">BENEFITS</h6>
    <h2 style="font-weight: 600; font-size: 40x;" class="mb-5 text-center">We make investing work for you</h2>
    <div class="d-flex">
      <div class="card" style="background: #FFCC99; margin-left: 190px;">
        <div class="d-flex">
          <div class="left" style="margin-right: 155px;"></div>
          <div class="right">
            <img src="../images/PAPERLESS.png" height="270px" class="card-img-top">
          </div>
        </div>
        <div class="card-body">
          <h6>PAPERLESS</h6>
          <h4 class="card-title">Seamless account Opening</h4>
          <p class="card-text">Requires PAN + Aadhaar + eKYC only</p>
        </div>
      </div>
      <div class="card" style="background: orangered; margin-left: 35px;">
        <div class="d-flex">
          <div class="left" style="margin-right: 175px;"></div>
          <div class="right">
            <img src="../images/benefit-card.png" height="270px" class="card-img-top">
          </div>
        </div>        <div class="card-body">
          <h6>FAST</h6>
          <h4 class="card-title">Instant withdrawals</h4>
          <p class="card-text">Transfer funds from Stocks to your bank account in just 15 minutes</p>
        </div>
      </div>
    </div>
    <div class="card" style="width: 995px;  margin-left: 190px; margin-top: 35px; background: rgb(0, 179, 255);">
      <div class="d-flex">
        <div class="left align-self-end p-5">
        <h6>EASY</h6>
        <h4 class="card-title">Learn. Decide. Invest.</h4>
        <p class="card-text">Learn all about investments from experts. Make informed decisions using smart tools. Invest easily with just a click.</p>
        </div>
        <div class="right">
          <img src="../images/benefit-account-01.png" alt="">
        </div>
      </div>      
    </div>
  </div>

  <div class="extra" style="margin-top: 150px;">
    <h2 style="font-weight: 600; font-size: 40x;" class="mb-3 text-center">For you. And everyone.</h2>
    <p class="text-center" style="font-size: 23px;">We enable lakhs of Indians to achieve their financial dreams.</p>
    <div class="e2" style="margin-left: 195px;">
      <div class="d-flex">
        <div class="d-flex flex-column">
          <div class="i1">
            <img src="../images/invest.png" alt="">
          </div>
          <div class="i2" style="width: 310px; height: 150px; background: rgb(0, 179, 255); border-radius: 15px; margin-top: 35px;"></div>
        </div>
        <div class="d-flex flex-column">
          <div class="i3" style="width: 310px; height: 150px; background: orangered; border-radius: 15px; margin-left: 35px;"></div>
          <div class="i4" style="margin-left: 35px; margin-top: 35px;">
            <img src="../images/invest2.png" alt="" style=" border-radius: 15px;">
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="i5" style="margin-left: 35px;">
            <img src="../images/invest3.png" alt="" style=" border-radius: 15px;">
          </div>
          <div class="i6" style="width: 310px; height: 150px; background: rgb(255, 196, 0); border-radius: 15px; margin-top: 35px; margin-left: 35px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" style="background: blueviolet; margin-top: 150px; height: 150px;">
    <div style="padding-top: 70px;" >
      <h6 class="text-white">Copyright &copy; 2023</h6>
    </div>
  </div>

  <script src="../JS/app.js"></script>
</body>
</html>